
.homeWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;

  .todoBtn {
    width: 240px;
    height: 90px;
    font-size: 24px;
    font-weight: 800;
    color: white;
    background-color: orange;
    border: none;
    border-radius: 10px;

    &:hover {
      cursor: pointer;
      opacity: 0.7;
    }

    &:active {
      opacity: 0.9;
    }
  }

  .authSampleBtn {
    width: 240px;
    height: 90px;
    font-size: 24px;
    font-weight: 800;
    color: white;
    background-color: blue;
    border: none;
    border-radius: 10px;
    margin-top: 20px;

    &:hover {
      cursor: pointer;
      opacity: 0.7;
    }

    &:active {
      opacity: 0.9;
    }
  }
}